*{
    margin:0;
    font-family: Arial;
    border:border-box;
}

.navbar{
    height: 60px;
    background-color: black;
    color:white;
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
  
}
.nav-logo{
 height: 50px;
 width: 100px;
 
}
.logo{
    background-image: url("amazon_logo.png");
    height: 50px;
    background-size: cover;
    width: 100px;
    text-align: center;

}
.border{
    border:2px solid transparent
}
.border:hover{
    border: 1.5px white solid;
}
/* box2 */
.add-icon{
    display: flex;
    align-items: center;
}
.add-1{
    color:#CCCCCC;
    font-size:  0.85rem;
    margin-left: 15px;

}
.add-2{
    font-size: 1rem;
    margin-left: 3px;
}
/* box3 */
.nav-search{
    display: flex;
    height: 40px;
    width: 620px;
    
    text-align: center;
   

}
.search-select{
    background-color: #f3f3f3;
    text-align: center;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    font-size:1rem  ;
    width:100%;
    border:none;

}
.search-icon{
    width: 60px;
    display:flex;
   align-items: center;
   justify-content: center;
    background-color: rgb(255, 170, 0);
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: black;
}
/* box4 */
.span{
    font-size:0.6rem;
}
.nav2nd{
    font-size: 1rem;
    font-weight: 700;
}
/* panel */
.panel{
    height: 40px;
    background-color:  #222f3d;;
     display:flex;
     align-items: center;
     justify-content: space-evenly;
     color:white;
     cursor: pointer;
    

}
.panel-ops p{
    display: inline;
    margin-left: 10px;
  
}
.panel-ops{
    width:80%;
    
}

.hero-section{
    background-image: url("herosec.jpg");
    background-size: cover;
    height: 300px;
    padding:20px 20px 20px 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
/* shopsection */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.box{

    height: 240px;
    width: 23%;
    background-color: white;
    

    
    
}
.box1-img{
    background-image: url("box1.png");
    background-size: cover;
    height: 240px;
}
.box2-img{
    background-image: url("box2.png");
    background-size: cover;
    height: 240px;
}
.box3-img{
    background-image: url("box3.png");
    background-size: cover;
    height: 240px;
}
.box4-img{
    background-image: url("box4.png");
    background-size: cover;
    height: 240px;
}
.button{
    background-color: rgb(219, 214, 214);
    border:none;
    position: absolute; /* Allows the button to be positioned absolutely within .box1-img */
    
    cursor: pointer;
   
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 10px;
}

